.BookList{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.error{
    color: white;
}

.pagination{
   display: flex;
   justify-content: center;
}